@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.navbar {
    background-color: #f8f9fa;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    height: 90px;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #06ABB2 !important;
    font-weight: bold;
}

.navbar-brand {
    margin-right: 20px;
}

img {
    height: auto;
    width: 100px;
}

.btn-ong {
    background-color: #FA7C17;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.btn-volunteer {
    background-color: #850D0D;
    color: white;
    border-radius: 15px;
}

.form-container {
    background: #dbdbd4;
    padding: 30px;
    border-radius: 30px;
    max-width: 800px;
    margin: 50px auto;
}

.form-control {
    border-radius: 15px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row .col-md-1,
.form-row .col-md-2,
.form-row .col-md-3,
.form-row .col-md-4,
.form-row .col-md-6 {
    padding-right: 10px;
}

.form-row .col-md-1 input,
.form-row .col-md-2 input,
.form-row .col-md-3 input,
.form-row .col-md-4 input,
.form-row .col-md-6 input {
    width: 100%;
}

.btn-next {
    display: block;
    margin: 20px auto 0;
    width: 172px;
    background-color: #06abb2;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    border: none;

}

.btn-next:hover {
    background-color: #008e9e;
}

.paragraph-form1 {
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
}

.p-margin{
    margin-left: 15px;
}
.available {
    margin-top: 50px;
}

.about {
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
}
.dropdown {
    margin-left: 20px;
    margin-bottom: 50px;
}

.init {
    margin-left: 15px;
}

.available {
    margin-top: 50px;
}
